# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data & Model directories generated at runtime
database/
model/
data/

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE / OS
.DS_Store
.idea/
.vscode/